<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員頁面</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <!-- {{ url_for('static', filename='style.css')}}  CSS格式放在static資料夾裡面 -->
  </head>
  <body>
    <div class="big-title">
      <span>歡迎光臨，這是會員頁</span>
    </div>
    <div class="main-content">
      <div class="text-02">{{ name }}，歡迎登入系統</div>
    </div>
    <!-- 使⽤者點擊，連線到【登出功能網址】，在 Flask
         Session 中紀錄使⽤者狀態為未登入，並導向【⾸⾴】 -->
    <form action="/signout" methods="GET">
      <div class="signout-system">
        <a href="/signout">登出系統</a>
      </div>
    </form>
  </body>
</html>
