*{
  margin: 0;
  padding: 0;
}


.header{
  display: flex;
  align-items: center;
}

.headline{
  font-size: 20px;
  font-weight: bold;
  flex:none;
  width: 200px;
  margin-left: 10px;
}

.list{
  flex:auto;
  display: flex;
  justify-content: flex-end;
}

.item{
    font-size: 20px;
    margin:10px;
    text-align: center;
}

.icon {
  display: none;
}

.hamburger {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  /* inline元素垂直置中 */
  vertical-align:middle;
}



.big-title {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 215, 228);
}

.text {
  font-size: 2em;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-left {
  flex:auto
}

.main-right {
  flex:auto
}

.main-middle {
  width: 1200px;
}

.middle-up {
  display: flex;
  justify-content: center;
}

.image-promotion {
  flex: none;
  background-color: rgb(161, 199, 210);
  width: 580px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.image-first {
  height: 50px;
  width: 80px;
}

.image-promotion div {
  margin-left: 10px;
}


.middle-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.image-title {
  flex: none;
  height: 200px;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  
  background-color: rgb(161, 199, 210);
}

.image-second {
  height: 90%;
  width: 100%;
}

.image-title div {
  background-color: rgb(161, 199, 210);
  padding-bottom: 5px;
}



@media (max-width:1200px) {
  .image-promotion {
    width: 45%;
  }
  .image-title {
    width: 45%;
    height: auto;
  }
  .image-title div {
  background-color: rgb(161, 199, 210);
  padding-top: 5px;
}

@media (max-width:600px) {
  .header {
    margin: 10px 0;
  }
  .item {
    display:none;
  }
  .icon {
    display: block;
  }
  .middle-up {
    flex-wrap: wrap;
  }
  .image-promotion {
    width: 90%;
  }
  .image-title {
    width: 90%;
  }
}




