* {
  margin: 0;
  padding: 0;
}

.big-title {
  background-color: rgb(13, 83, 162);
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
}

.main-content  {
  text-align: center;
  margin-top: 50px;
}

.text-01 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.text-02 {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-block {
  margin-bottom: 5px;
  font-size: 18px;
}

.btn {
  padding: 5px 10px;
}

.text_center {
  text-align: center;
}